.chart {
	position: relative;
	top: 0px;
	left: 0px;
}

.chart text {
  font: 10px sans-serif;
  text-anchor: end;
}

.bar {
  fill: steelblue;
}

.bar:hover {
  fill: slategray;
}

.axis text {
  font: 10px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path {
  display: none;
}

.graph-container {
  height: 500px;
}
