.chart {
	position: absolute;
	top: 100px;
	left: 200px;
}

.chart text {
  font: 10px sans-serif;
  text-anchor: end;
}

.bar {
  fill: steelblue;
}

.bar:hover {
  fill: slategray;
}

.axis text {
  font: 10px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path {
  display: none;
}
