
/* Font Classes */

h1, h2, h3, h4, h5, h6, p, .open-sans {
	font-family: 'Open Sans', sans-serif;
	font-weight: lighter;
	color: #4d4d4f;
}

.title {
	font-family: 'Open Sans', sans-serif;
	font-weight: bolder;
	color: black;
	text-align: center;
}

.subtitle {
	font-family: 'Open Sans', sans-serif;
	font-weight: bold;
	color: #0984bb;
	text-align: center;
	font-size: 1.2em;
	letter-spacing: 1px;
}

.descriptions {
	font-family: 'Open Sans', sans-serif;
	font-weight: normal;
	color: #4d4d4f;
}

.title-desc {
	width: 50%;
	font-size: 1.2em;
	margin: 0 auto;
	margin-bottom: 50px;
	text-align: center;
}

.column-title {
	font-family: 'Open Sans', sans-serif;
	font-weight: bold;
	color: black;
	text-align: left;
	font-size: 1.2em;
	letter-spacing: 1px;
}

.column-title-icon {
	color: #0984bb;
	text-align: left;
	font-size: 1.8em;
}

.column-desc {
	width: 80%;
	font-size: 1em;
	margin-left: 14%;
	text-align: left;
}

.port-text {
	color: #0984bb;
	position: absolute;
	top: 62%;
	width: 100%;
	text-align: center;
	text-transform: uppercase;
}


